# LLM Configuration

LLM_API_KEY = ******

LLM_BASE_URL = https://api.siliconflow.cn/v1

LLM_MODEL = deepseek-ai/DeepSeek-V3.2

# Zotero Configuration

ZOTERO_DB_PATH = ****\storage\zotero.sqlite

ZOTERO_STORAGE_PATH = ****\storage

# Literature Search 

Literature_Search_BASE_URL = https://api.openalex.org/works